*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.container{
  width:80%;
  max-width: 1900px;
  margin: 0 auto;
  padding: 20px;
}

.container-small{
  width: 70%;
  max-width: 1900px;
  margin: 0 auto;
  padding: 20px;
}

.debug{
  background-color: rgba(255, 0, 0, .25);
  border: 1px solid black;
}

/*istruzioni generiche per i menu*/
nav ul{
  list-style: none;
  display: flex;
}

nav ul li{
  padding: 10px;
}

nav ul li a{
  text-decoration: none;
}

.btn{
  display: inline-block;
  background-color: #0061ff;
  color: white;
  padding: 8px 15px;
  font-size: .8rem;
  text-decoration: none;
}

/*header*/
header{
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
}

header .header-left{
  padding-top: 20px;
}

.header-left, .header-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  width: 50px;
  height: 50px;
  margin-right: 70px;
}  
  

/*menu nell'header*/
header nav ul li a{
  color: black;
  font-size: 0.9rem;
}

/*main*/

main{
  margin-top: 30px;
}

/*jumbotron*/
main .jumbotron{
  height: 600px; /*da rivedere*/
  background-color: #b4d0e7;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  
}

main .jumbotron .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -80px;
}

main .jumbotron .jumbo-content{
  display: flex;
  margin-top: 30px;
}

main .jumbotron .jumbo-content .jumbo-text{
  width: 35%;
}

main .jumbotron .jumbo-content .jumbo-img{
  width: 60%;
}

main .jumbotron .jumbo-content img{
  max-width: 100%;
}

main .jumbotron h1{
  font-size: 65px;
}

main .jumbotron .jumbo-content .btn{
  margin: 20px 0;
  font-size: 15px;
}

main .jumbotron .jumbo-content .arrow{
  font-size: 40px;
  margin-top: 35px;
}

main .jumbotron .jumbo-content .arrow a{
  color: black;
}

/*info section*/
main .info{
  margin-top: 150px;
}

main .info-top h2{
  font-size: 35px;
  margin-bottom: 50px;
}

main .info-top #selected{
  padding-right: 30px;
}

main .info .options{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

/*options cards*/
main ul{
  list-style: none;
}

main .info .options .cards{
  width: calc(100% / 3 - 30px);
  margin-bottom: 10px;
  border: 1px solid lightgray;
  min-width: 250px;
}

main .info .team-card{
  display: flex;
  margin-top: 30px;
}

main .info #team{
  width: 100%;
  border: 1px solid lightgray;
}

main .info .team-card .team-flex{
  display: flex;
}

main .info .team-card .team-flex .button{
  margin-top: 25px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

main .info .options .plan-type, main .info .team-card .plan-type{
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid lightgray;
}

main .info .options .plan-container, main .info .team-card .plan-container{
  padding: 15px;
  line-height: 200%;
}

main .info .options .plan-container .btn{
  margin: 30px 0;
}

main .info .options .plan-container .acquista{
  padding-bottom: 30px;
  border-bottom: 1px solid lightgray;
}

main .info .options .plan-container h4{
  margin: 20px 0;
}
/*cta*/
main .info .cta{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  line-height: 120%;
}

main .info .cta img{
  max-width: 100%;
}
main .info .cta .cta-img{
  width: 65%;
}

main .info .cta .cta-text{
  width: 30%;
  margin-top: 50px;
}

main .info .cta .cta-text h3{
  font-size: 25px;
  line-height: 120%;
}

main .info .cta .cta-text p{
  margin: 20px 0;
  color: gray;
}

main .info .cta .cta-text .btn{
  background-color: white;
  color: gray;
  border: 1px solid gray;
}

/*seconda sezione*/
main .card-section{
  margin: 30px 0;
}

main .card-section .row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}

main .card-section .row .small-card{
  width: calc(100% / 3 - 20px);
  margin-bottom: 20px;
}

main .card-section .row .small-card .small-img img{
  max-width: 100%;
}

main .card-section h2{
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 30px;
}

main .card-section .row .small-card .small-text h3{
  margin: 20px 0;
  font-size: 20px;
}

main .card-section .numeri {
  width: 50%;
  margin-top: 100px;
  margin-bottom: 40px;
}

main .card-section .numeri h2{
  line-height: 150%;
  font-size: 30px;
}

main .card-section .numeri a{
  margin: 40px 0;
}

/*sezione partners*/
main .partners{
  display: flex;
}

main .partners .box{
  background-color: gold;
  width: 100%;
  height: 400px; /*da togliere*/
  display: flex;
  flex-wrap: wrap;
}

main .partners .box .small-box{
  width: calc(100% / 2);
  height: calc(100% /2);
  display: flex;
  justify-content: center;
  align-items: center;
}

main .partners .box .small-box img{
  width: 50%;
  
}

.box .uno{
  background-color: #A2D39B;
  border: 15px solid #D1E9CD;
}

.box .due{
  background-color: #61082B;
}

.box .tre{
  background-color: #0093CE;
}

.box .quattro{
  background-color: #FF1C1C;
}

.box .cinque{
  background-color: #D5001F;
}

.box .sei{
  background-color: #B4D0E7;
}

.box .sette{
  background-color: #0D2481;
}

.box .otto{
  background-color: #FFD830;
}

main .prova{
  background-color: #b4d0e7;
  height: 250px;
}

main .prova .container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/*sezione questions*/

main .questions .box-domanda{
  border-top: 2px solid #b8b8b8;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
}

main .questions .box-domanda#last{
  border-bottom: 2px solid #b8b8b8;
}

/*footer*/
footer{
  height: 500px;
  background-color: black;
  display: flex;
}

footer .box-menu{
  display: flex;
}

footer .box-menu .menu-footer{
  width: calc(100% / 5);

}

footer h3{
  padding-left: 10px;
  margin-bottom: 20px;
  color: white;
}


footer .menu-footer ul{
  display: flex;
  flex-direction: column;
}

footer .menu-footer ul li a{
  color: white;
}